---
import { cn } from '@/utils'

interface Props {
  as?: string
  class?: string
  href?: string
  heading?: string
  subheading?: string
  date?: string
  target?: string
}

const {
  as: Tag = 'div',
  class: className,
  href,
  heading,
  subheading,
  date,
  target
} = Astro.props
---

<Tag
  class={cn(
    className,
    'rounded-2xl border border-border bg-primary-foreground',
    href && 'transition-all hover:border-foreground/25 hover:shadow-sm'
  )}
  href={href}
  target={target}
>
  <slot name="image" />
  
  <div class='flex flex-col gap-y-1.5'>
    <div class='flex flex-col gap-y-0.5'>
      {heading && <h3 class='text-lg font-medium'>{heading}</h3>}
      {subheading && <h4 class='text-muted-foreground'>{subheading}</h4>}
      {date && <h4 class='text-muted-foreground'>{date}</h4>}
    </div>
    <slot />
  </div>
</Tag>