---
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/Section.astro'
import Card from '@/components/Card.astro'
import Label from '@/components/Label.astro'
import SkillOrNowLayout from '@/components/SkillOrNowLayout.astro'
import { Image } from 'astro:assets'
import avatar from '@/assets/avatar.png'
import { getLocalizedResumeConfig, getI18nText, getCurrentLocale } from '@/utils/locale'
import type { Locale } from '@/types'

interface Props {
	locale?: Locale
}

const { locale: propLocale } = Astro.props
const currentLocale = propLocale || getCurrentLocale(Astro.url)
const resumeConfig = getLocalizedResumeConfig(currentLocale)
---

<PageLayout meta={{}}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image
				src={avatar}
				alt='profile photo'
				class='h-28 w-auto rounded-full bg-[#FFBE98] p-2'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold' style:view-transition-name='main-title'>
					{resumeConfig.name}
				</h1>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title={resumeConfig.gender}>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 24 24'
							class='h-5 w-5'
							slot='icon'
							fill='none'
							stroke='currentColor'
							stroke-width='1.5'
							stroke-linecap='round'
							stroke-linejoin='round'
						>
							<path
								d='M12 2a3 3 0 0 1 3 3c0 1.7-1.3 3-3 3S9 6.7 9 5a3 3 0 0 1 3-3zm0 10c4 0 8 2 8 4v4H4v-4c0-2 4-4 8-4z'
							></path>
						</svg>
					</Label>
					<Label id='age-label'>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 24 24'
							class='h-5 w-5'
							slot='icon'
							fill='none'
							stroke='currentColor'
							stroke-width='1.5'
							stroke-linecap='round'
							stroke-linejoin='round'
						>
							<circle cx='12' cy='12' r='9'></circle>
							<path d='M12 7v5l3.5 2'></path>
						</svg>
					</Label>
					<Label title={resumeConfig.job}>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 24 24'
							class='h-5 w-5'
							slot='icon'
							fill='none'
							stroke='currentColor'
							stroke-width='1.5'
							stroke-linecap='round'
							stroke-linejoin='round'
						>
							<path
								d='M4 19V8h16v11q0 .425-.288.712Q19.425 20 19 20H5q-.425 0-.712-.288Q4 19.425 4 19ZM3 8V6q0-.425.287-.713Q3.575 5 4 5h4V4q0-.425.287-.713Q8.575 3 9 3h6q.425 0 .712.287Q16 3.575 16 4v1h4q.425 0 .712.287Q21 5.575 21 6v2'
							></path>
						</svg>
					</Label>
					<Label title={resumeConfig.address}>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 24 24'
							class='h-5 w-5'
							slot='icon'
							fill='none'
							stroke='currentColor'
							stroke-width='1.5'
							stroke-linecap='round'
							stroke-linejoin='round'
						>
							<path
								d='M12 12q.825 0 1.413-.588Q14 10.825 14 10t-.587-1.413Q12.825 8 12 8q-.825 0-1.412.587Q10 9.175 10 10q0 .825.588 1.412Q11.175 12 12 12Z M12 22q-4.025-3.425-6.012-6.363Q4 12.7 4 10.2q0-3.75 2.413-5.975Q8.825 2 12 2t5.587 2.225Q20 6.45 20 10.2q0 2.5-1.987 5.437Q16.025 18.575 12 22Z'
							></path>
						</svg>
					</Label>
					<Label
						title={getI18nText('common.email', currentLocale)}
						as='a'
						href={'mailto:' + resumeConfig.email}
						target='_blank'
					>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 24 24'
							class='h-5 w-5'
							slot='icon'
							fill='none'
							stroke='currentColor'
							stroke-width='1.5'
							stroke-linecap='round'
							stroke-linejoin='round'
						>
							<rect x='2' y='4' width='20' height='16' rx='1'></rect>
							<path d='M4 8l8 5 8-5'></path>
						</svg>
					</Label>
				</div>
			</div>
		</section>

		<Section title={getI18nText('sections.about', currentLocale)}>
			<p class='text-muted-foreground'>
				{resumeConfig.about}
			</p>
		</Section>

		<Section title={getI18nText('sections.experience', currentLocale)}>
			{
				resumeConfig.experiences.map((experience: any) => {
					return (
						<Card
							heading={experience.company}
							subheading={experience.office}
							date={experience.date}
							imagePath={experience.image}
							altText={experience.imageAlt}
							imageClass='h-12 w-auto md:-left-16'
						>
							<ul class='ml-4 list-disc text-muted-foreground'>
								{experience.charges.map((charge: any) => {
									return <li>{charge}</li>
								})}
							</ul>
						</Card>
					)
				})
			}
		</Section>

		<Section title={getI18nText('sections.education', currentLocale)}>
			{
				resumeConfig.educations.map((education: any) => {
					return (
						<Card
							heading={education.school}
							subheading={education.major}
							date={education.date}
							imagePath={education.image}
							altText={education.imageAlt}
							imageClass='h-12 w-auto md:-left-16'
						>
							<ul class='ml-4 list-disc text-muted-foreground'>
								{education.knowledges.map((knowledge: any) => {
									return <li>{knowledge}</li>
								})}
							</ul>
						</Card>
					)
				})
			}
		</Section>

		<Section title={getI18nText('sections.projects', currentLocale)}>
			{
				resumeConfig.projects.map((project: any) => {
					return (
						<Card
							href={project.link}
							heading={project.title}
							subheading={project.description}
							target='_blank'
						/>
					)
				})
			}
			<Card
				heading="正在开发中……"
				subheading="敬请期待"
			/>
		</Section>

		<Section title={getI18nText('sections.certificates', currentLocale)}>
			{
				resumeConfig.certificates.map((certificate: any) => {
					return (
						<Card
							heading={certificate.title}
							subheading={certificate.description}
							date={certificate.date}
							imagePath={certificate.image}
							altText={certificate.imageAlt}
							imageClass='h-11 w-auto md:-left-16'
							href={certificate.link}
							target='_blank'
						/>
					)
				})
			}
		</Section>

		<Section title={getI18nText('sections.skills', currentLocale)}>
			<SkillOrNowLayout
				title={getI18nText('skillCategories.language', currentLocale)}
				items={resumeConfig.skills.language}
			/>
			<SkillOrNowLayout
				title={getI18nText('skillCategories.frontend', currentLocale)}
				items={resumeConfig.skills.frontend}
			/>
			<SkillOrNowLayout
				title={getI18nText('skillCategories.backend', currentLocale)}
				items={resumeConfig.skills.backend}
			/>
			<SkillOrNowLayout
				title={getI18nText('skillCategories.others', currentLocale)}
				items={resumeConfig.skills.others}
			/>
		</Section>

		<Section title={getI18nText('sections.now', currentLocale)}>
			<SkillOrNowLayout
				title={getI18nText('nowCategories.address', currentLocale)}
				item={resumeConfig.now.address}
			/>
			<SkillOrNowLayout
				title={getI18nText('nowCategories.reading', currentLocale)}
				items={resumeConfig.now.reading}
			/>
			<SkillOrNowLayout
				title={getI18nText('nowCategories.sports', currentLocale)}
				items={resumeConfig.now.sports}
			/>
		</Section>
	</div>
</PageLayout>
